<div class="main-container">
  <div class="description-container">
    <h2 class="text-blue">Description</h2>
    <p>
      My name is Max Metcalf. I love programming useful tools on the internet. This website is a collection of the tools
      I have built. Some of them are based off of other companies, some of them are original ideas. I hope you enjoy.
    </p>
  </div>
  <h2 class="text-blue">List of tools</h2>
  <%= link_to "Work Time Tracker", time_trackers_path %><br>
  <%= link_to "Budget", budget_path %><br>
  <%= link_to "Resolutions", resolutions_path %><br>
  <%= link_to "Money Compounding Calculator", money_calculator_path %><br>
  <%= link_to "Stock Option Pricing Calculator", stock_options_path %><br>
</div>
