<div class="main-container">
  <%= form_with(url: :calculate_money_calculator, method: "post", local: true) do %>
    <div class="form-group">
      <%= label_tag(:current_age, "How old are you?") %>
      <%= number_field_tag(:current_age, params[:current_age]) %>
    </div>
    <div class="form-group">
      <%= label_tag(:initial_deposit, "How much do you have right now?") %>
      <%= number_field_tag(:initial_deposit, params[:initial_deposit]) %>
    </div>
    <div class="form-group">
      <%= label_tag(:yearly_amount, "How much do you want to contribute annually?") %>
      <%= number_field_tag(:yearly_amount, params[:yearly_amount]) %>
    </div>
    <div class="form-group">
      <%= label_tag(:rate, "What interest rate to you project (in percentage points)?") %>
      <%= number_field_tag(:rate, params[:rate]) %>
    </div>
    <div class="form-group">
      <%= label_tag(:contribution_stop_age, "How old will you be when you stop contributing?") %>
      <%= number_field_tag(:contribution_stop_age, params[:contribution_stop_age]) %>
    </div>
    <div class="form-group">
      <%= label_tag(:cash_out_age, "What age do you want to know how much you will have saved?") %>
      <%= number_field_tag(:cash_out_age, params[:cash_out_age]) %>
    </div>
    <%= submit_tag("Calculate", class: "basic-btn green") %>
  <% end %>
  <% if @total_money.present? %>
    <h2>You will have contributed a total of <%= number_to_currency(@contributed_money) %>,</h2>
    <h1>But you will have <%= number_to_currency(@total_money) %> saved!!</h1>
  <% end %>
</div>
